<section class="main-header">
  <img src="<%= asset_path "bg.jpg" %>">
</section>

<section class="about">
  
  
  <h1>About Gloup Work</h1>
  <p>
     Gloup Workは3人でチーム開発を行っています。<br>
  </p>
</section>

<section class="function">
  <h1>Function</h1>
    <div class="function-images">
      <div class="function-image">
        <img src="<%= asset_path "slide-1.jpg" %>">
        <p>ログイン機能</p>
      </div>
      <div class="function-image">
        <img src="<%= asset_path "slide-2.jpg" %>">
        <p>メール送信機能</p>
      </div>
      <div class="function-image">
        <img src="<%= asset_path "slide-3.jpg" %>">
        <p>友達つながり機能</p>
      </div>
    </div>
</section>